{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'core/css/historial.css'%}">
<!-- historial -->

<body>
    <div class="card">
        <div class="row">
            <div class="col-md-12 cart2">
                <div class="title">
                    <div class="row">
                        <div class="col1"><b>Historial de Compras</b></div>
                    </div>
                </div>
                {% for compra in historial_compras %}

                <div class="row border-top border-bottom mb-3 mt-3" style="background-color: white;">
                    <div class="row main align-items-center es">
                        <div class="col">
                            {% if compra.producto.foto %}
                            <img src="{{ compra.producto.foto.url }}" class="img-fluid" width="100" height="100">
                            {% else %}
                            <img src="{% static 'core/images/giphy.gif'%}" class="img-fluid" width="100" height="100">
                            {% endif %}
                        </div>

                        <div class="col">
                            <div class="row text-muted">
                                <p>{{ compra.producto.nombre }}</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <p>${{ compra.producto.precio }}</p>
                            </div>
                        </div>
                        <div class="col">
                            {{ compra.cantidad }}
                        </div>
                        <div class="col">
                            <div class="row">
                                <p>{{ compra.fecha_compra }}</p>
                            </div>
                        </div>

                    </div>

                </div>

                {% endfor %} <!-- Otros detalles de la compra -->

            </div>
        </div>
    </div>
</body>
<!--end historial  -->
{% endblock %}