{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'core/css/historial.css'%}">
<!-- historial -->

<body>
    <div class="card">
        <div class="row">
            <div class="col-md-12 cart2">
                <div class="title">
                    <div class="row">
                        <div class="col1"><b>Historial de Compras</b></div>
                    </div>
                </div>
                {% for compra in historial %}
                <h3>Fecha de compra: {{ compra.fecha_compra }}</h3>
                <h4>Producto: {{ compra.producto.nombre }}</h4>
                <p>Cantidad: {{ compra.cantidad }}</p>
                <!-- Otros detalles de la compra -->
                {% endfor %}
            </div>
        </div>
    </div>
</body>
<!--end historial  -->
{% endblock %}